@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */
/* styles/globals.css */
.gradient-border {
  position: relative;
  padding: 20px;
  border-radius: 12px;
  background-color: white;
}

.gradient-border::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  padding: 2px; /* Adjust thickness */
  background: linear-gradient(45deg, #00D622, #F800FF);
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  mask-composite: exclude;
  -webkit-mask-composite: destination-out;
  z-index: -1;
}
